/*Background gif*/
.gif{
	position: fixed;
	left:0;
	bottom:-1vh;
/*	z-index: 1;*/
}
.gif2{
	position: fixed;
	top:0;
	right:0vh;
/*	z-index: 1;*/
}
/*INTRO*/
.imgme{
	animation: aimgme 2s 0s linear infinite;
	left:8.33vw
	
}
@keyframes aimgme {
	0%{
		top:10vh;
	}
	50%{
		top:15vh;
	}
	
	100%{
		top:10vh;
	}
}
.ps{
	position: absolute;
	left:33.33vw;
	animation: aps 2s 0s linear infinite;
}
@keyframes aps {
	0%{
		top:20px;
	}
	40%{
		top:80px;
	}
	
	100%{
		top:20px;
	}
}
.ai{
	position: absolute;
	left:30vw;
	animation: aai 2s 0s linear infinite;
	z-index: 21;
}
@keyframes aai {
	0%{
		top:75vh;
	}
	40%{
		top:68vh;
	}
	
	100%{
		top:75vh;
	}
}
.an{
	position: absolute;
	left:5vw;
	animation: aan 2s 0s linear infinite;
	z-index: 20;
}
@keyframes aan {
	0%{
		top:40vh;
	}
	40%{
		top:60vh;
	}
	
	100%{
		top:40vh;
	}
}
.name1{
	position: absolute;
	top:25vh;
/*	right:8.33vw;*/
	animation: aname1 0.4s 0s linear forwards;
	opacity: 0;
}
@keyframes aname1 {
	0%{
		left:100px;
		opacity: 0;
	}
	
	100%{
		left:0px;
		opacity: 1;
	}
}
.job1{
	position: absolute;
	top:37vh;
/*	right:8.33vw;*/
	animation: ajob1 0.4s 0.4s linear forwards;
/*	z-index: 20;*/
	opacity: 0;
}
@keyframes ajob1 {
	0%{
		left:100px;
		opacity: 0;
	}
	
	100%{
		left:0px;
		opacity: 1;
	}
}
.btn1{
/*	width:*/
	position: absolute;
	top:50vh;
/*	right:8.33vw;*/
	animation: abtn1 0.4s 0.8s linear forwards;
/*	z-index: 20;*/
	opacity: 0;
}
@keyframes abtn1 {
	0%{
		top:60vh;
		opacity: 0;
	}
	
	100%{
		top:47vh;
		opacity: 1;
	}
}
.ic_box{
	animation: aicbox 1s 1.2s linear forwards;
	z-index: 30;
	opacity: 0;
}
@keyframes aicbox {
	0%{
		transform: scale(0.5);
		opacity: 0;
	}
	
	100%{
		transform: scale(1);
		opacity: 1;
	}
}
/*LOADING PAGE*/
.loading{
	background: #fff;
	width:100vw;
	height:100vh;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: comic;
	color:#853D2E;
	font-size: 18pt;
	animation: aloading 0.5s 12s linear forwards;
}
.loading p{
	margin-top:3vh;
	font-family: 'Mali', cursive;
	font-size: 1rem;
	font-weight: 500;
}
@keyframes aloading{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
.loadbar{
	width:40%;
	height:5vh;
	
	border: 3px solid #853D2E;
	border-radius: 50px;
	overflow: hidden;
}
.load{
	height:5vh;
	animation: aload 12s linear forwards;
	background: #DE884F;
	border-radius: 50px;
	
}
@keyframes aload {
	0%{
		margin-right:100%;
		opacity: 1;
		width:0%;
	}
	20%{
		margin-right:80%;
		opacity: 1;
		width:20%;
	}
	30%{
		margin-right:72%;
		opacity: 1;
		width:28%;
	}
	90%{
		margin-right:32%;
		opacity: 1;
		width:68%;
	}
	95%{
		margin-right:31%;
		opacity: 1;
		width:69%;
	}
	100%{
		margin-right:0%;
		opacity: 1;
		width:100%;
	}
}
/*END LOADING PAGE*/



/*about*//*about*//*about*//*about*//*about*/
/*about me*/

/*software*/
.border{
	width: 80%;
	height:6vh;
	border: 3px solid #853D2E;
	border-radius: 50px;
	overflow: hidden;
	animation: aborder1 2s 0s linear forwards;
/*	opacity: 0;*/
}
.aiload{
	display: flex;
	height:100%;
	border-radius: 50px;
	background: #DE884F;
	animation: aiload 3s 0s linear infinite;
	opacity: 0;
}
@keyframes aiload {
	0%{
		width:0%;
		margin-right:100%;
		opacity: 1;
	}
	80%{
		width:70%;
		margin-right:30%;
		opacity: 1;
	}
	100%{
		width:70%;
		margin-right:30%;
		opacity: 1;
	}
}
.psload{
	display: flex;
	height:100%;
	border-radius: 50px;
	background: #DE884F;
	animation: psload 3s 0s linear infinite;
	opacity: 0;
}
@keyframes psload {
	0%{
		width:0%;
		margin-right:100%;
		opacity: 1;
	}
	80%{
		width:75%;
		margin-right:25%;
		opacity: 1;
	}
	100%{
		width:75%;
		margin-right:25%;
		opacity: 1;
	}
}
.lrload{
	display: flex;
	height:100%;
	border-radius: 50px;
	background: #DE884F;
	animation: lrload 3s 0s linear infinite;
	opacity: 0;
}
@keyframes lrload {
	0%{
		width:0%;
		margin-right:100%;
		opacity: 1;
	}
	80%{
		width:40%;
		margin-right:60%;
		opacity: 1;
	}
	100%{
		width:40%;
		margin-right:60%;
		opacity: 1;
	}
}
.idload{
	display: flex;
	height:100%;
	border-radius: 50px;
	background: #DE884F;
	animation: idload 3s 0s linear infinite;
	opacity: 0;
}
@keyframes idload {
	0%{
		width:0%;
		margin-right:100%;
		opacity: 1;
	}
	80%{
		width:60%;
		margin-right:40%;
		opacity: 1;
	}
	100%{
		width:60%;
		margin-right:40%;
		opacity: 1;
	}
}
.anload{
	display: flex;
	height:100%;
	border-radius: 50px;
	background: #DE884F;
	animation: anload 3s 0s linear infinite;
	opacity: 0;
}
@keyframes anload {
	0%{
		width:0%;
		margin-right:100%;
		opacity: 1;
	}
	80%{
		width:35%;
		margin-right:65%;
		opacity: 1;
	}
	100%{
		width:35%;
		margin-right:65%;
		opacity: 1;
	}
}


/*works*/
#nav{
	animation: navload 1.5s 0s linear forwards;
	opacity: 0;
}
@keyframes navload {
	0%{
		margin-right:-10vw;
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.text{
	opacity: 0;
	animation: atext 0.5s 0.5s linear forwards;
}
@keyframes atext{
	0%{
		opacity: 0;
		transform: translateX(-30vh);
	}
	100%{
		opacity: 1;
		transform: translateX(0vh);
	}
}